body{
    background-color: rgb(191, 243, 243);
    text-align: center;
}

p {
    color:rgb(240, 135, 189)
}

h1{
    font-style:italic;
}

.oliveira{
    color: rgb(241, 127, 222);
}
.duda{
  width: 50%;
}