body{
    background-color: rgb(187, 31, 83);
    text-align: center;
}

p {
    color:rgb(105, 26, 26)
}

h1{
    font-style:italic;
}

.oliveira{
    color: rgb(240, 91, 91);
}
.duda{
  width: 27%;
}